In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from scipy import stats as st

In [ ]:
def read_data(general_data):
  data=pd.read_csv(general_data)
  missing_info=missing_loop(data)
  req_data=require_data(data, missing_info)
  ready_for_testing=testing_data(req_data)
  return (ready_for_testing)

In [ ]:
def missing_data(general_data1, data):
  x=data[general_data1]
  nul_val=x.isnull().value_counts()
  p_miss=(((len(x)-nul_val[0])/len(x))*100)
  return  p_miss

In [ ]:

def missing_loop(data):
  miss_data=[]
  column_data=[]
  for i in data.columns:
    b=missing_data(i, data)
    column_data.append(b)
    miss_data.append(i)
  zip_iterator = zip(miss_data, column_data)
  a_dictionary = dict(zip_iterator) 
  return a_dictionary

In [ ]:
def require_data(data, a_dictionary):
  drop_column=[]
  for i in a_dictionary.keys():
    if a_dictionary[i]>=25:
      drop_column.append(i)
  data.drop(drop_column, axis='columns', inplace=True)
  return data

In [ ]:
def column_type(data):
  type_column=[]
  for i in data.columns:
    type_column.append(str(data[i].dtype))
  zip_iterator1 = zip(data.columns, type_column)
  a_dictionary1 = dict(zip_iterator1) 
  return a_dictionary1

In [ ]:
def testing_data(data):
  a_dictionary1=column_type(data)
  for i in a_dictionary1:
    if a_dictionary1[i]=='object':
      data[i].fillna(data[i].mode()[0], inplace=True)
    elif a_dictionary1[i]== 'float64':
      q3=np.nanquantile(data[i], 0.75)
      q1=np.nanquantile(data[i], 0.25)
      iq=q3-q1
      pout=q3+1.5*iq
      nout=q1-1.5*iq
      for k in data[i]:
        if k>pout:
          flag=True
          break
        elif k<nout:
          flag=True
        else:
          flag=False
      if flag==True:
        a=np.nanmedian(data[i])
        data[i].replace(to_replace=np.nan,value=a, inplace=True )
      elif flag==False:
        a=np.nanmean(data[i])
        data[data[i]].replace(to_replace=np.nan,value=a, inplace=True )

  return data

In [ ]:
data_2020=read_data('/content/IT Salary Survey EU  2020.csv')
data_2018=read_data('/content/IT Salary Survey EU 2018.csv')

In [ ]:
data_2020.head()

In [ ]:
data_2018